<a href="https://colab.research.google.com/github/Ava100rav/Angels-virtual-world-internship-assignment/blob/main/nlp_saurav.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
import nltk

In [4]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [5]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [6]:
sid = SentimentIntensityAnalyzer()

In [8]:
df = pd.read_excel('/content/drive/MyDrive/angels-virtual-world-internship/Headlines_5000.xlsx')

In [9]:
df.head()

,date,time_12hr,time_24hr,headline,category,Unnamed: 5,Unnamed: 6
0,"FEB 26, 2022",12:13 AM,00:13,Russia-Ukraine war LIVE updates: NATO leaders ...,WORLD,NaN,NaN
1,"FEB 25, 2022",10:25 PM,22:25,CNBC-TV18 Classroom: What should be your optio...,MARKET,NaN,NaN
2,"FEB 25, 2022",9:47 PM,21:47,Ukraine-Russia conflict: From sunflower oil to...,MARKET,NaN,NaN
3,"FEB 25, 2022",9:41 PM,21:41,IOC to be dropped from Nifty 50 from March 31,Apollo Hospitals to move in,MARKET,NaN
4,"FEB 25, 2022",9:23 PM,21:23,CBI says NSE Himalayan yogi none other than An...,MARKET,NaN,NaN

In [10]:
df['scores'] = df['headline'].apply(lambda headline:sid.polarity_scores(headline))

In [11]:
df.head()

,date,time_12hr,time_24hr,headline,category,Unnamed: 5,Unnamed: 6,scores
0,"FEB 26, 2022",12:13 AM,00:13,Russia-Ukraine war LIVE updates: NATO leaders ...,WORLD,NaN,NaN,"{'neg': 0.143, 'neu': 0.769, 'pos': 0.088, 'co..."
1,"FEB 25, 2022",10:25 PM,22:25,CNBC-TV18 Classroom: What should be your optio...,MARKET,NaN,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
2,"FEB 25, 2022",9:47 PM,21:47,Ukraine-Russia conflict: From sunflower oil to...,MARKET,NaN,NaN,"{'neg': 0.161, 'neu': 0.839, 'pos': 0.0, 'comp..."
3,"FEB 25, 2022",9:41 PM,21:41,IOC to be dropped from Nifty 50 from March 31,Apollo Hospitals to move in,MARKET,NaN,"{'neg': 0.0, 'neu': 0.769, 'pos': 0.231, 'comp..."
4,"FEB 25, 2022",9:23 PM,21:23,CBI says NSE Himalayan yogi none other than An...,MARKET,NaN,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."

In [12]:
df.drop(['date', 'time_12hr', 'time_24hr', 'Unnamed: 5', 'Unnamed: 6'], axis = 1, inplace = True)

In [13]:
df['scores'][0]

{'compound': -0.3612, 'neg': 0.143, 'neu': 0.769, 'pos': 0.088}

In [14]:
df['compound'] = df['scores'].apply(lambda d:d['compound'])

In [15]:
df['com_score'] = df['compound'].apply(lambda score: 'pos' if score >= 0 else 'neg')

In [16]:
df.head()

,headline,category,scores,compound,com_score
0,Russia-Ukraine war LIVE updates: NATO leaders ...,WORLD,"{'neg': 0.143, 'neu': 0.769, 'pos': 0.088, 'co...",-0.3612,neg
1,CNBC-TV18 Classroom: What should be your optio...,MARKET,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos
2,Ukraine-Russia conflict: From sunflower oil to...,MARKET,"{'neg': 0.161, 'neu': 0.839, 'pos': 0.0, 'comp...",-0.3182,neg
3,IOC to be dropped from Nifty 50 from March 31,Apollo Hospitals to move in,"{'neg': 0.0, 'neu': 0.769, 'pos': 0.231, 'comp...",0.4019,pos
4,CBI says NSE Himalayan yogi none other than An...,MARKET,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos

In [17]:
df.rename(columns={'com_score': 'sentiment', 'compound': 'score'}, inplace=True)

In [18]:
df.drop(['category','scores'],axis=1,inplace=True)

In [19]:
df.head()

                                            headline   score sentiment
0  Russia-Ukraine war LIVE updates: NATO leaders ... -0.3612       neg
1  CNBC-TV18 Classroom: What should be your optio...  0.0000       pos
2  Ukraine-Russia conflict: From sunflower oil to... -0.3182       neg
3      IOC to be dropped from Nifty 50 from March 31  0.4019       pos
4  CBI says NSE Himalayan yogi none other than An...  0.0000       pos

In [20]:
df.tail(5)

                                               headline   score sentiment
4994  Sensex surges nearly 1,000 points; expert says... -0.5267       neg
4995  Closing Bell: Sensex jumps 950 points, Nifty a...  0.4019       pos
4996              See structural improvement in economy  0.4588       pos
4997  Lupin weighs venturing into diagnostics space:...  0.0000       pos
4998  Moneycontrol Pro: Here’s why investors should ...  0.0000       pos